*{
    margin: 0mm;
    padding: 0mm;
}

@font-face{
    font-family: 'PTSans';
    src: url('../font/PTSans/PTSans-Regular.ttf') format('truetype');
    font-weight: 1;
    font-style: normal;
}

@font-face{
    font-family: 'PTSansBold';
    src: url('../font/PTSans/PTSans-Bold.ttf')format('truetype');
    font-weight: 2;
    font-style: normal;
}

/*  Tamaño de ancho del html 1200px */
html{
    width: 1200px;
    margin: auto;
}

/*  Tamaño de ancho del body 1190px porque es el layout 
    Margen con la parte del arriba de la pagina de 8px
     */
body{
    margin: 5px;
    margin-top: 8px;
    width: 1190px;
}

/*Hay que eliminar la decorración de todos los enlaces y ponerle el color,
aunque algunos enlaces determinados tienen otro color que se le dara
en su respectiva localización*/
a{
    color: rgb(16, 182, 174);
    text-decoration: none;
}

/*Al logo de la página le damos un ancho maximo, lo colocamos a la izquierda
y le colocamos dos margenes, uno a la derecha y otro abajo para la separación
con el resto de bloques*/
header{
    width: 590px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
}

/*Este bloque, contiene el login y un menu, que colocamos a la derecha del logo*/
nav#principal{
    font-family: sans-serif;
    height: 109px;
    width: 590px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: right;
}

/*Elimino de la lista de iniciar sesion las decoraciones, creo un espacio entre los elementos de la lista
y los coloco todos en la misma linea con el flex*/
div#sesion>ul{
    list-style-type: none;
    display: flex; 
    justify-content: space-between; 
    font-size: 15px;
}

div#sesion>ul>li{
    padding-left: 20px;
}

div#sesion{
    float: right;
    margin-top: 20px;
}

div#nav{
    float: right;
    margin-top: 20px;
}

/*Elimino de la lista de menu las decoraciones, creo un espacio entre los elementos de la lista,
los coloco todos en la misma linea con el flex y le doy un ancho a la lista
para ajustar el espacio entre los elementos*/
div#nav>ul{
    padding-left: 40px;
    list-style-type: none;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    width: 500px;
}

/*A los elementos de la lista de menu, les pongo un fondo, les asigno un tamaño
de ancho y alto, les pongo un borde y alineo texto al centro.*/
div#nav>ul>li{
    background-color: rgb(240, 236, 236);
    width: 18%;
    height: 30px;
    padding-top: 2px;
    border-radius: 10%;
    text-align: center;
}

div#nav>ul>li>a{
    color: rgb(150, 146, 146);
}
/*Aqui termina el bloque de navegación principal*/

/*Pongo un margen debajo de 10px a todos los h3*/
h3{
    margin-bottom: 10px;
}

/*Al titulo que esta debajo del logo, le doy un tamaño de letra de 25px,
le cambio el color, le doy un margen con el elemento que tiene debajo,
lo posiciono a la izquierda y le doy el ancho maximo de la página.*/
div#subtitulo{
    color:rgb(23, 117, 117);
    font-family: PTSans;
    font-size: 25px;
    margin-bottom: 15px;
    width: 1190px;
    float: left;
}

/*El menu secundario, se encuantra debajo del titulo, con un ancho de 690px
y un marge debajo*/
nav#secundario{
    margin-bottom: 20px;
    width: 690px;
    float: left;
}

/*La lista tiene un ancho para ajustar el espacio entre los elementos,
se elemina la decoración, se colocan en la misma linea y se centra el texto
que contienen.*/
nav#secundario>ul{
    font-family: PTSans;
    height: 30px;
    width: 650px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
    text-align: center;
}

/*Los elemento de la lista, tienen un color de fondo, los bordes de arriba
redondeados y juego con los padding para ajustarlos*/
nav#secundario>ul>li{
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(244,240,243);
    border-start-end-radius: 10px;
    border-top-left-radius: 10px;
}

/*Le doy un color diferente al enlace de program y negrita*/
a#prog{
    color: black;
    font-weight: bold;
}

nav#secundario>ul>li>a{
    color: rgb(150, 146, 146);
}
/*Aqui termina el menu secundario*/

/*El bloque de idioma, se compone por un parrafo y una lista. Estos esta
colocados en la misma linea con el flex y el bloque esta colocado 
a la derecha del menu*/
div#idioma{
    font-family: PTSans;
    margin-bottom: 5px;
    width: 480px;
    float: right;
    display: flex;
    justify-content: right;
    font-family: PTSans;
    height: 30px;
}

div#idioma>p{
    padding-right: 5px;
    padding-top: 5px;
}

/*Coloco los elementos de la lista en la misma linea y le quito la decoración*/
div#idioma>ul{
    padding-top: 5px;
    display: flex;
    list-style-type: none; 
}

div#idioma>ul>li{  
    width: 30px;
    text-align: center;
    background-color:rgb(244,240,243);
}

/*El primer elemento de la lista de asigno bordes redondeados en la parte
de la izquierda*/
div#idioma>ul>:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: rgb(228, 225, 225);
}

/*Al ultimo elemento de la lista le asignos bordes redondeados en la parte
de la derecha*/
div#idioma>ul>:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*Aqui termina el bloque de idioma*/

/*En el bloque de program, pongo un ancho maximo de 890, alineo verticalmente
todo al centro y coloco el bloque a la izquierda*/
div#program{
    margin-bottom: 5px;
    width: 890px;
    vertical-align: middle;
    float: left;
    margin-bottom: 8px;
}

div#program>h1{
    color: rgb(68, 219, 224);
    font-family: sans-serif;
    margin-bottom: 12px;
}

/*Coloco un ancho al parrafo para que no ocupe todo el bloque*/
p#parrafo{
    font-family: 'Times New Roman', Times, serif;
    width: 680px;
    margin-bottom: 10px;
}

/*Coloco la imagen de circo a la derecha y juego con el margen para centralo*/
div#circo{
    margin-top: 30px;
    margin-right: 20px;
    float: right;
}
/*Aqui termina el bloque de program*/

/*El bloque de what, tiene un ancho de 490 y lo coloco a la izquierda*/
div#what{
    width: 490px;
    height: 142px;
    margin-right: 10px;
    float: left;
    margin-bottom: 25px;
}

div#what>h4{
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(9, 155, 130);
    margin-bottom: 5px;
}

/*Le doy un ancho maximo al parrafo*/
div#what>p{
    color: rgb(160, 155, 155);
    width: 430px;
    font-family: 'Times New Roman', Times, serif;
}
/*Aqui termina el bloque de what*/

/*El bloque de schedule, tiene un ancho de 390 y esta colocado a la izquierda 
para que se coloque al lado del bloque de what*/
div#schedule{
    width: 390px;
    height: 142px;
    float: left;
    margin-bottom: 15px;
}

div#schedule>h4{
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(9, 155, 130);
    margin-bottom: 5px;
}

div#schedule>p{
    color: rgb(160, 155, 155);
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
}
/*Aqui termina el bloque de schedule*/

/*El bloque de section, tiene un ancho de 890, esta colocado a la izquierda y 
utilizo el wrap y el inline-flex para que todos elementos que hay dentro 
se coloque ocupando uno al lado del otro para que ocupen el ancho 
maximo del bloque*/
section{
    width: 890px;
    background-color: white;
    flex-wrap: wrap;
    display: inline-flex;
    float: left;
    margin-bottom: 8px;
}

div#festival{
    margin-bottom: 15px;
    width: 890px;
}

div#festival>p{
    font-family: 'Times New Roman', Times, serif;
    width: 570px;
}

div#festival>h4{
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(9, 155, 130);
    margin-bottom: 10px;
}

/*Le asigno a todos los posit un ancho de 260 porque al poner el padding, 
loe añade 10px a cada lado y eso hace que el ancho sea de 280px */
div.posit{
    width: 260px;
    height: 150px;
    margin-bottom: 60px;
    padding: 10px;  
}

.posit>h4{
    margin-bottom: 20px;
}

div.posit>p{
    font-family: 'Times New Roman', Times, serif;
}

/*Coloco un borde redondeado a todos los posit*/
div.posit>div{
    font-size: 18px;
    border-radius: 5px;
}

div.posit>div>h4{
    font-family: PTSans;
    margin-bottom: 15px;
    font-weight: bold;
}

/*Le doy un color de fondo a todos los posit con la clase green*/
div.green{
    background-color: rgb(173, 233, 145);
}

/*Le doy un color de fondo a todos los posit con la clase yellow*/
div.yellow{
    background-color: rgb(245, 244, 173);
}

/*Le doy un color de fondo a todos los posit con la clase blue*/
div.blue{
    background-color: rgb(134, 218, 233);
}

/*Le doy un color de fondo a todos los posit con la clase pink*/
div.pink{
    background-color: rgb(235, 196, 202);
}

/*Coloco margenes a los posit para que hay espacio entre ellos*/
div#webcraft{
    margin-left: 20px;
}

div#peer{
    margin-left: 20px;
}

div#openc{
    margin-left: 20px;
}

div#hackerspace{
    margin-left: 20px;
}

div#opens{
    margin-left: 20px;
}

div#video{
    margin-left: 20px;
}

div#in>h2{
    font-family: sans-serif;
    color: rgb(67, 221, 221);
}

div#in>p{
    font-family: 'Times New Roman', Times, serif;
}

/*Roto los posit y les doy un padding para que sean de diferente tamaño, 
sin sobre pasar el tamaño maximo del bloque posit*/
div#badge>div{
    transform: rotate(-2deg);
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

div#webcraft>div{
    transform: rotate(1deg);
    padding: 15px;
}

div#peer>div{
    transform: rotate(-2deg);
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 30px;
}

div#local>div{
    transform: rotate(1deg);
    padding: 17px;
}

div#openc>div{
    transform: rotate(2deg);
    padding: 15px;
}

div#hackerspace>div{
    transform: rotate(1deg);
    padding: 15px;
}

div#wikipedia>div{
    transform: rotate(-1deg);
    padding: 15px;
}

div#opens>div{
    transform: rotate(1deg);
    padding: 15px;
}

div#video>div{
    transform: rotate(-1deg);
    padding: 15px;
}

div#main>div{
    transform: rotate(1deg);
    padding: 15px;
}
/*Aqui termino de rotar los posit y acaba el bloque de section*/

/*El bloque de register, tiene un ancho maximo de 290, esta colocado 
a la derecha del program, cambio el color de fondo y 
redondeo las esquinas del bloque*/
div#register{
    width: 290px;
    height: 120px;
    margin-left: 10px;
    float: right;
    background-color: rgb(157, 193, 240);
    border-radius: 5px;
    margin-bottom: 8px;
    font-family: Georgia;
}

/*Le asigno un ancho de 230 al boton para que no ocupe todo el bloque de ancho,
juego con los margenes para que este en el centro, redondeo las esquinas y
le pongo un color de fondo*/
div#bottom{
    margin: auto;
    margin-top: 24px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(87, 173, 87);
    width: 230px;
    height: 40px;
    border-radius: 5px;
}

#bottom a{
    font-size: 30px;
    background-color: rgb(87, 173, 87);
    color: white;
}

div#or{
    margin-top: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
/*Aqui termina el bloque de register*/

/*El bloque de listan tiene un tamaño de 270, ya que el padding se le suma 
el padding de los lados, un color de fondo y esta colocado a la derecha
de schedule*/
div#lista{
    font-family: PTSans;
    background-color: rgb(240, 236, 236);
    width: 270px;
    margin-left: 10px;
    float: right;
    margin-top: -68px;
    border-radius: 20px;
    margin-bottom: 8px;
    padding: 10px;
}

/*Le doy un tamaño al bloque donde se encuentran las imagenes
para que no coupe todo y lo coloco a la izquierda*/
#lista dt{
    width: 45px;
    height: 45px;
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
}

/*Le doy un tamaño y lo coloco a la derecha de la imagen*/
#lista dd{
    width: 225px;
    height: 45px;
    float: right;
    padding-top: 7px;
    padding-bottom: 7px;
}
/*Aqui termina el bloque de lista*/

/*El bloque de who, tiene un tamaño de ancho de 270, al que se le suma
el padding, esta colocado a la derecha del section y tiene los bordes redondeados
y un color de fondo*/
div#who{
    margin-top: 20px;
    background-color: rgb(247, 240, 149);
    width: 270px;
    padding: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
    margin-bottom: 8px;
}

div#who>h4{
    font-family: Georgia;
}

div#who>p{
    font-family: 'Times New Roman', Times, serif;
}

/*Cambio el simbolo por defecto de una lista, a la imagen del check*/
#who li{
    font-family: PTSans;
    list-style-image: url("../img/check.png");
}

#who ul{
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}
/*Aqui termina el bloque de who*/

/*El bloque de share, tiene un ancho de 280, al que se le suma el padding,
esta colocado a la derecha del section debajo del who y los elementos,
estan alineados en columna */
div#share{
    width: 280px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 30px;
    float: left;
    flex-direction: column;
    display: flex;
}

div#identi{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(107, 164, 168);
}

#identi img{
    margin-left: 30px;
    float: left;
}

#identi a{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-left: 10px;
    margin-top: 8px;
    float: left;
}

div#twitter{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(77, 185, 235);
    text-align: center;
}

#twitter img{
    margin-left: 30px;
    float: left;
}

#twitter a{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-left: 40px;
    margin-top: 8px;
    float: left;
}
/*Aqui termina el bloque de share*/

/*El footer, tiene el tamaño maximo de ancho y esta dividido en tres secciones
para darles un espacio entre ellas y estan colocados en la misma linea*/
footer{
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    height: 130px;
    padding-top: 20px;
    background-color: #777676;
    float: left;
    width: 1190px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/*El bloque de la izquierda, tiene un tamaño de ancho de 260,
los elementos que hay dentro, tienen un espaciado entre ellos y se encuentran
en linea*/
div#left{
    margin-left: 100px;
    width: 260px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

/*Esta sección esta a la izquierda y los elementos estan en linea*/
div#blog{
    display: flex;
    float: left;
    width: 150px;
}

div#blog>p{
    margin-left: 7px;
    float: right;
    color: white;
    font-size: 15px;
}

div#blog>img{
    float: left;
    width: 20px;
    height: 20px;
}

div#redes{
    color: white;
    font-size: 15px;
}

div#redes>img{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

/*El bloque de en medio, sus elementos esta con un espaciado en medio
y todos en linea*/
div#center{
    width: 260px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

div#element>ul{
    list-style-type: none;
    color: white;
}

div#dino{
    display: flex;
}

div#dino>img{
    width: 30px;
    height: 23px;
    float: left;
}

div#dino>p{
    float: right;
    font-size: 15px;
    color: white;
    margin-left: 7px;
}

/*El bloque de la derecha tiene un tamaño de 360, estan alineados a la derecha
y estan el linea los elementos*/
div#right{
    margin-right: 100px;
    width: 360px;
    flex-direction: row;
    text-align: right;
}

p#creative{
    color: white;
}