@font-face {
    font-family: "Ballpack";
    src: url(fonts/ballpark.eot);
    src: url(fonts/ballpark.ttf);
}

@font-face {
    font-family: "Dayrom" ;
    src: url(fonts/dayrom.eot);
    src: url(fonts/dayrom.ttf);
}

header{
    border-bottom: solid 2px gray;
    border-top: solid 2px gray;
    margin-bottom: 1%;
}

nav{
    float: right;
    margin-top: 0mm;
    margin-right:2% ;
    padding: 0mm;
    width: 40%;
}

#divfoto{
    width: 100%;
    margin-bottom: 0.7%;
}

article{
    width: 68%;
    box-sizing: border-box;
    text-align: justify;
}

aside{
    background-color: gray;
    text-align: center;
    float: right;
    width: 30%;
    min-height: 80%;
}

#aside{
    padding-left: 3%;
    padding-right: 3%;
    text-align:justify;
}

.white{color: white;}

footer{
    border-top: solid 2p gray;
    }

img{margin: 0mm;}

h1{
    margin: 0.5%;
    
}

#burro{border:solid 2px black;}

#pin{width: 5%;
    vertical-align: middle;}

#titulo{margin: 0mm;
        padding-left: 2%;
        margin-left: 1%;
    }

#nav{
    float: inline-start;
    margin: 0mm;
    text-align: center;
    text-size-adjust: 10%;
}

#divfooter1{
    vertical-align: center;
    width: 33%;
    float: right;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#divfooter2{
    width: 38%;
    float: right;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#divfooter3{
    width: 25%;
    float: right;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#puente{width: 96%; margin-left: 2%; margin-right: 2%;}

body{margin:5%;
    background-color: rgb(253, 247, 215);}

#mitad1{
    width: 46%;
    color: brown;
}

#top{float: center;}
