*{
    margin: 0mm;
    padding: 0mm;
    background-color: wheat;
    margin-bottom: 5px;
}

/*  Tamaño de ancho del html 1200px */
html{
    width: 1200px;
    background-color: white;
    margin: auto;
}

/*  Tamaño de ancho del body 1190px porque es el layout 
    Margen con la parte del arriba de la pagina de 8px
     */
body{
    margin: 5px;
    margin-top: 8px;
    width: 1190px;
    background-color: white;
    flex-wrap: wrap;
    display: inline-flex;
}

header{
    width: 590px;
    margin-right: 5px;
    margin-bottom: 5px;
}

nav#principal{
    height: 109px;
    width: 590px;
    margin-bottom: 5px;
    margin-left: 5px;
}

h3{
    margin-bottom: 10px;
}

.posit>h4{
    margin-bottom: 20px;
}

div#subtitulo{
    margin-bottom: 5px;
    width: 1190px;
}

nav#secundario{
    margin-bottom: 20px;
    width: 690px;
}

div#idioma{
    margin-bottom: 5px;
    width: 490px;
    margin-left: 10px;
}

div#program{
    margin-bottom: 5px;
    width: 890px;
    vertical-align: middle;
}

p#parrafo{
    width: 680px;
}

div#circo{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

div#what{
    width: 490px;
    height: 142px;
    margin-right: 10px;
    
}

div#schedule{
    width: 390px;
    height: 142px;
}

section{
    width: 890px;
    background-color: white;
    flex-wrap: wrap;
    display: inline-flex;
}

div.posit{
    width: 270px;
    height: 110px;
    margin-bottom: 10px;
    padding: 10px;  
}

div#webcraft{
    margin-left: 10px;
}

div#peer{
    margin-left: 10px;
}

div#openc{
    margin-left: 10px;
}

div#hackerspace{
    margin-left: 10px;
}

div#opens{
    margin-left: 10px;
}

div#video{
    margin-left: 10px;
}

div#register{
    width: 290px;
    height: 100px;
    margin-left: 10px;
}

div#lista{
    width: 290px;
    margin-left: 10px;
}
div#who{
    width: 250px;
    margin-left: 10px;
    padding-left: 40px;
    padding-top: 10px;
}

#who li{
    list-style-image: url("../img/check.png");
}
