*{
    margin: 0mm;
    padding: 0mm;
}

/*  Tamaño de ancho del html 1200px */
html{
    width: 1200px;
    margin: auto;
}

/*  Tamaño de ancho del body 1190px porque es el layout 
    Margen con la parte del arriba de la pagina de 8px
     */
body{
    margin: 5px;
    margin-top: 8px;
    width: 1190px;
}

a{
    color: rgb(16, 182, 174);
    text-decoration: none;
}

header{
    width: 590px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
}

nav#principal{
    height: 109px;
    width: 590px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: right;
}

div#sesion>ul{
    list-style-type: none;
    display: flex; 
    justify-content: space-between; 
    font-size: 15px;
}
div#sesion>ul>li{
    padding-left: 20px;
}

div#sesion{
    float: right;
    margin-top: 20px;
}

div#nav{
    float: right;
    margin-top: 20px;
}

div#nav>ul{
    padding-left: 40px;
    list-style-type: none;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    width: 500px;
    justify-items: flex-start;
}

div#nav>ul>li{
    background-color: rgb(240, 236, 236);
    width: 16%;
    height: 30px;
    padding-top: 2px;
    border-radius: 10%;
    text-align: center;
}

div#nav>ul>li>a{
    color: rgb(150, 146, 146);
}

h3{
    margin-bottom: 10px;
}

h2#Part{
    color: rgb(67, 221, 221);
}

.posit>h4{
    margin-bottom: 20px;
}

div#subtitulo{
    margin-bottom: 15px;
    width: 1190px;
    float: left;
    width: 100%;
}

nav#secundario{
    margin-bottom: 20px;
    width: 690px;
    float: left;
    font-family: PTSans;
}

nav#secundario>ul{
    height: 30px;
    width: 650px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
    text-align: center;
}

nav#secundario>ul>li{
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(244,240,243);
    border-start-end-radius: 10px;
    border-top-left-radius: 10px;
}
a#prog{
    color: black;
    font-weight: bold;
}

nav#secundario>ul>li>a{
    color: rgb(150, 146, 146);
}

div#idioma{
    margin-bottom: 5px;
    width: 480px;
    float: right;
    display: flex;
    justify-content: right;
    font-family: PTSans;
    height: 30px;
}
div#idioma>p{
    padding-right: 5px;
    padding-top: 10px;
}

div#idioma>ul{
    padding-top: 10px;
}

div#idioma>ul>li{
    display: inline-block;
    width: 30px;
    text-align: center;
    background-color:rgb(244,240,243);
    list-style-type: none; 
}

div#idioma>ul>:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: rgb(228, 225, 225);
}

div#idioma>ul>:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

div#program{
    margin-bottom: 5px;
    width: 890px;
    vertical-align: middle;
    float: left;
    margin-bottom: 8px;
}

div#program>h1{
    margin-bottom: 12px;
}

p#parrafo{
    width: 680px;
    margin-bottom: 10px;
}

div#circo{
    margin-top: 30px;
    margin-right: 20px;
    float: right;
}

div#what{
    width: 490px;
    height: 142px;
    margin-right: 10px;
    float: left;
    margin-bottom: 8px;
}

div#schedule{
    width: 390px;
    height: 142px;
    float: left;
}

section{
    width: 890px;
    background-color: white;
    flex-wrap: wrap;
    display: inline-flex;
    float: left;
    margin-bottom: 8px;
}

div#festival{
    margin-bottom: 8px;
}

div.posit{
    width: 260px;
    height: 150px;
    margin-bottom: 40px;
    padding: 10px;  
}


div.posit>div{
    padding: 20px;
}

div.posit>div>h4{
    margin-bottom: 15px;
    font-weight: bold;
}

div.green{
    background-color: rgb(48, 136, 48);
}

div.yellow{
    background-color: rgb(243, 241, 118);
}

div.blue{
    background-color: rgb(24, 152, 175);
}

div.pink{
    background-color: rgb(221, 170, 178);
}

div#webcraft{
    margin-left: 20px;
}

div#peer{
    margin-left: 20px;
}

div#openc{
    margin-left: 20px;
}

div#hackerspace{
    margin-left: 20px;
}

div#opens{
    margin-left: 20px;
}

div#video{
    margin-left: 20px;
}

div#register{
    width: 290px;
    height: 120px;
    margin-left: 10px;
    float: right;
    background-color: rgb(157, 193, 240);
    border-radius: 5px;
    margin-bottom: 8px;
}

div#bottom{
    margin: auto;
    margin-top: 24px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(87, 173, 87);
    width: 230px;
    height: 40px;
    border-radius: 5px;
}

#bottom a{
    font-size: 30px;
    background-color: rgb(87, 173, 87);
    color: white;
}

div#or{
    margin-top: 10px;
    text-align: center;
}

div#lista{
    background-color: rgb(240, 236, 236);
    width: 270px;
    margin-left: 10px;
    float: right;
    margin-top: -60px;
    border-radius: 20px;
    margin-bottom: 8px;
    padding: 10px;
}

#lista dt{
    width: 45px;
    height: 45px;
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
}

#lista dd{
    width: 225px;
    height: 45px;
    float: right;
    padding-top: 7px;
    padding-bottom: 7px;
}

div#who{
    background-color: rgb(247, 240, 149);
    width: 270px;
    padding: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
    margin-bottom: 8px;
}

#who li{
    list-style-image: url("../img/check.png");
}

#who ul{
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

div#share{
    width: 280px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    flex-direction: column;
    display: flex;
}

div#identi{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(107, 164, 168);
}

#identi img{
    margin-left: 30px;
    float: left;
}

#identi a{
    color: white;
    padding-left: 10px;
    margin-top: 8px;
    float: left;
}

div#twitter{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(77, 185, 235);
    text-align: center;
}

#twitter img{
    margin-left: 30px;
    float: left;
}

#twitter a{
    color: white;
    padding-left: 40px;
    margin-top: 8px;
    float: left;
}

footer{
    height: 130px;
    padding-top: 20px;
    background-color: #777676;
    float: left;
    width: 1190px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

div#left{
    margin-left: 100px;
    width: 260px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

div#blog{
    display: flex;
    float: left;
    width: 150px;
}

div#blog>p{
    margin-left: 7px;
    float: right;
    color: white;
    font-size: 15px;
}

div#blog>img{
    float: left;
    width: 20px;
    height: 20px;
}

div#redes{
    color: white;
    font-size: 15px;
}

div#redes>img{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

div#center{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

div#element>ul{
    list-style-type: none;
    color: white;
}

div#dino{
    display: flex;
}

div#dino>img{
    width: 30px;
    height: 23px;
    float: left;
}

div#dino>p{
    float: right;
    font-size: 15px;
    color: white;
    margin-left: 7px;
}

div#right{
    margin-right: 100px;
    width: 360px;
    flex-direction: row;
    text-align: right;
}

p#creative{
    color: white;
}