*{
    margin: 0mm;
    padding: 0mm;
    
    margin-bottom: 5px;
}

/*  Tamaño de ancho del html 1200px */
html{
    width: 1200px;
    background-color: white;
    margin: auto;
}

/*  Tamaño de ancho del body 1190px porque es el layout 
    Margen con la parte del arriba de la pagina de 8px
     */
body{
    margin: 5px;
    margin-top: 8px;
    width: 1190px;
    background-color: white;
}

header{
    width: 590px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

nav#principal{
    height: 109px;
    width: 590px;
    margin-bottom: 5px;
    margin-left: 5px;
    float: right;
}

h3{
    margin-bottom: 10px;
}

h2#Part{
    color: rgb(67, 221, 221);
}

.posit>h4{
    margin-bottom: 20px;
}

div#subtitulo{
    margin-bottom: 5px;
    width: 1190px;
    float: left;
    width: 100%;
}

nav#secundario{
    margin-bottom: 20px;
    width: 690px;
    float: left;
}

div#idioma{
    margin-bottom: 5px;
    width: 490px;
    margin-left: 10px;
    float: right;
}

div#program{
    margin-bottom: 5px;
    width: 890px;
    vertical-align: middle;
    float: left;
}

p#parrafo{
    width: 680px;
}

div#circo{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

div#what{
    width: 490px;
    height: 142px;
    margin-right: 10px;
    float: left;
}

div#schedule{
    width: 390px;
    height: 142px;
    float: left;
}

section{
    width: 890px;
    background-color: white;
    flex-wrap: wrap;
    display: inline-flex;
    float: left;
}

div.posit{
    width: 270px;
    height: 110px;
    margin-bottom: 10px;
    padding: 10px;  
}

div#webcraft{
    margin-left: 10px;
}

div#peer{
    margin-left: 10px;
}

div#openc{
    margin-left: 10px;
}

div#hackerspace{
    margin-left: 10px;
}

div#opens{
    margin-left: 10px;
}

div#video{
    margin-left: 10px;
}

div#register{
    width: 290px;
    height: 120px;
    margin-left: 10px;
    float: right;
    background-color: rgb(157, 193, 240);
}

div#bottom{
    margin: auto;
    margin-top: 24px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(87, 173, 87);
    width: 230px;
    height: 40px;
}

#bottom a{
    font-size: 30px;
    background-color: rgb(87, 173, 87);
    color: white;
}

div#or{
    margin-top: 10px;
    text-align: center;
}

div#lista{
    background-color: rgb(216, 214, 214);
    width: 280px;
    margin-left: 10px;
    float: right;
    margin-top: -67px;
    padding-left: 10px;
}

#lista dt{
    width: 45px;
    height: 45px;
    float: left;
}

#lista dd{
    width: 225px;
    height: 45px;
    float: right;
}

div#who{
    background-color: rgb(247, 240, 149);
    width: 280px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

#who li{
    list-style-image: url("../img/check.png");
}

#who ul{
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

div#share{
    justify-content: center;
    width: 280px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

div#identi{
    float: left;
    width: 270px;
    background-color: rgb(86, 86, 184);
}

#identi img{
    float: left;
}

#identi a{
    float: left;
}

div#twitter{
    float: left;
    width: 270px;
    background-color: rgb(77, 185, 235);
    text-align: center;
}

#twitter img{
    float: left;
}

#twitter a{
    float: left;
}